<nav class="navbar navbar-expand-lg bg-body-tertiary  ">
  <div class="container-fluid">
  <% if back%>
        <a class="navbar-brand text-uppercase text-primary bold" href="#"><%= current_user.name %></a>
  <% else %>
        <%= link_to("javascript:history.back()", class: "text-dark") do %>
            <i class="fas fa-angle-left h2 mb-0 " ></i>
        <% end %>
  <% end %>
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Order</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_user.name%>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Sign up</a></li>
            <li><%= link_to 'Log Out', sign_out_user_path , class: 'dropdown-item' %></li>

          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>